
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>chatbot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv=\"content-type\" content=\"application/vnd.ms-excel; charset=UTF-8\">
        <link rel="stylesheet" href="/static/bootstrap-3.1.1-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/results.css">
		     <script src="/static/jquery-2.0.3.min.js"></script>
		<style>
             .img-container2 {
				max-width:100%;
				max-height:100%;
              }
        </style>
    </head>

    <body>
        <div class="container-fluid " style="background: white">
			 <div class="wrapper" style="min-height:100vh;">

            <div class="col-xs-8 col-xs-offset-2">
                <form action="/analysis/" method="GET" >
						<div class="input-group">
							<input type="text" class="form-control" name="query" id ="query" placeholder="Input sentence...">
								<span class="input-group-btn">
									<button id ="btnSearch" class="btn btn-success" type="submit">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
								</span>
						</div>
                </form>
				
			</form>
			</div>
			</div>
		</div>
    </body>
</html>
